<div class="contacts-container">
  <div class="section">
    <h2>Contact Me</h2>
    <p>f you have any questions, suggestions or just want to say hi, feel free to contact me.</p>
    <div class="contact-details">
      <p><strong>Email:</strong> pashtet0501@gmail.com</p>
      <p><strong>Phone:</strong> +421951746439</p>
    </div>
<div class="social-links">
  <div class="social-link">
    <i class="fab fa-instagram"></i>
    <a href="https://instagram.com/yourusername" target="_blank">Instagram</a>
  </div>
  <div class="social-link">
    <i class="fab fa-linkedin-in"></i>
    <a href="https://linkedin.com/in/yourusername" target="_blank">LinkedIn</a>
  </div>
</div>
  </div>

</div>

