.contacts-container {
  min-height: calc(100vh - 140px - 80px);
  padding-top: 80px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  align-content: space-between;
padding-bottom: 0;
  background: #f0f0f0;
  font-family: 'Josefin Sans', sans-serif;


  .section, .form-section {
    width: 80%;
    flex-basis: 45%;
    background: white;
    padding: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    transition: transform 0.3s ease;
    margin: 20px 0;
    input[type="text"]{
      font-family: 'Josefin Sans', sans-serif;
    }
    input[type="email"]{
      font-family: 'Josefin Sans', sans-serif;
    }
    textarea{
      font-family: 'Josefin Sans', sans-serif;
    }


    h2 {
      color: #333;
      margin-bottom: 20px;
    }

    p {
      color: #666;
      line-height: 1.6;
    }

    .contact-details {
      margin-top: 20px;
      p {
        margin-bottom: 10px;
      }
    }

.social-links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;

  .social-link {
    display: flex;
    align-items: center;
    gap: 8px;

    a {
      text-decoration: none;
      color: #333;
      font-weight: bold;
      transition: color 0.3s;

      &:hover {
        color: #0056b3;
      }
    }

    i {
      font-size: 1.5em;
      color: #333;
      transition: color 0.3s;

      &:hover {
        color: #0056b3;
      }
    }
  }
}


@media (max-width: 768px) {
  .principles {
    flex-direction: column;
  }
}

  }
.background {
    background-color: transparent;
    background-image: linear-gradient(147deg, #E3EDFF66 0%, #F2DADD66 100%);
}


}
@media (max-width: 768px) {
  .contacts-container{
    min-height: calc(100vh - 202px - 74px);
    .contact-section, .form-section {
      width: 100%;
    }
  }
}
