<div class="container" >
  <div class="header">
    <div class="name">
      Recently added
    </div>
    <div class="buttons">

      <button class="toggle-btn" [class.active]="isTwoColumnLayout" [disabled]="isTwoColumnLayout" (click)="setTwoColumnLayout()">
        <img src="assets/buttons/2on2.svg" alt="2X2">
      </button> <button class="toggle-btn" [class.active]="!isTwoColumnLayout" [disabled]="!isTwoColumnLayout" (click)="setThreeColumnLayout()">
      <img src="assets/buttons/3on3.svg" alt="3X3">
    </button>
    </div>
  </div>
  <div [class.two-columns]="isTwoColumnLayout" [class.three-columns]="!isTwoColumnLayout">
    <div class="gallery" id="gallery">
      <div *ngFor="let photo of photographs; let i = index" class="photo-card">
        <div class="object" >
          <img (click)="openModal(photo)" [src]="photo.imageUrl" [alt]="photo.name" class="image">
          <div [class]="{'info': true, 'full-height': showFullDescription[i]}" >
            <h3 style="font-family: 'Josefin Sans', sans-serif">
              {{ photo.name }}
            </h3>
            <p>
              {{ photo.location }}
            </p>
            <p>
              {{ photo.description }}
            </p>
          </div>
          <div class="buttons">
            <button class="showText" *ngIf="!photo.isSaved" (click)="savePhoto(photo.imageUrl, photo.name, photo)">
              Save
            </button>
            <button class="showText" *ngIf="photo.isSaved" [ngClass]="{'saved-button': photo.isSaved}">
              Saved
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="divider-section">
  <div class="divider" ></div>
  <div class="go-to">
    <a [routerLink]="['/all-photos']">
      <button class="showText fix-width">
      See all photos
    </button>
    </a>
    </div>
      <div class="go-to">
    <a [routerLink]="['/contacts']">
      <button class="showText fix-width">
      Contacts
    </button>
    </a>
    </div>
    <div class="social-icons">
  <a href="https://www.instagram.com/spirin.paul/" target="_blank" class="icon instagram">
    <i class="fab fa-instagram"></i>
  </a>
  <a href="https://www.linkedin.com/in/pavlo-spirin/" target="_blank" class="icon linkedin">
    <i class="fab fa-linkedin-in"></i>
  </a>
</div>

  </div>
</div>
<div class="modal" *ngIf="selectedPhoto" #modal>
  <div class="control-buttons">
<!--    *ngIf="!isIncreased"-->
    <span class="increase" (click)="increaseSize()" *ngIf="scaleSize"><i class="fa-solid fa-magnifying-glass-plus"></i></span>
    <span class="decrease " (click)="decreaseSize()" *ngIf="!scaleSize"><i class="fa-solid fa-magnifying-glass-minus"></i></span>
    <span class="full-screen" (click)="toggleFullScreen()" *ngIf="!isFullScreen"><i class="fa-solid fa-expand"></i></span>
    <span class="part-screen" (click)="toggleFullScreen()" *ngIf="isFullScreen"><i class="fa-solid fa-compress"></i></span>
    <span class="close" (click)="closeModalWithAnimation()"><i class="fa-regular fa-circle-xmark"></i></span>
  </div>
  <div class="modal-content" [ngClass]="{'vertical-img': isVertical}">
    <span class="prev" (click)="showPrevPhoto()">&#10094;</span>
    <span class="next" (click)="showNextPhoto()">&#10095;</span>
    <img [src]="selectedPhoto.imageUrl" (load)="onImageLoad($event)" [alt]="selectedPhoto.name" class="modal-img">
    <p>{{selectedPhoto.name}}</p>
    <p>{{selectedPhoto.location}}</p>
  </div>
  <div class="go-to-all-photos">
    <p>
      To see all the photos click on the button
    </p>
      <div class="go-to fix-width">
    <a [routerLink]="['/all-photos']" >
      <button class="showText" style="width: 250px" (click)="enableScroll()">
      See all photos
    </button>
    </a>
    </div>
  </div>

</div>
