<!-- Поместите этот код в файл вашего ProfileComponent -->
<div>
<div class="profile">
  <div class="text-about">
    <p class="pre-text" data-aos="fade-right" data-aos-duration="1000">Pavlo Spirin</p>
    <h1  data-aos="fade-left" data-aos-duration="1000">PHOTOGRAPHER</h1>
    <p class="main-text" data-aos="fade-right" data-aos-duration="1000">
      I am adaptable and open to everything new.
      Everything that I was fond of was connected
      with the exact sciences (Mathematics, Informatics,
      Physics), that's why I got such skills as analytical
      and logical thinking. I am sure that I will definitely
      benefit your company, because I am the kind of person who
      is always looking for ways to improve my skills and I think
      that your company will help me with this.
    </p>
    <span  data-aos="fade-left" data-aos-duration="1000">  <button class="download-resume-btn">DOWNLOAD RESUME</button></span>

  </div>
  <a class="scroll-to-preview" (click)="scrollToPreview()">↓</a>
</div>

</div>


