<!-- Поместите этот код в файл вашего ProfileComponent -->
<div>
<div class="profile">
  <div class="text-about">
    <p class="pre-text" data-aos="fade-right" data-aos-duration="1000">Pavlo Spirin</p>
    <h1  data-aos="fade-left" data-aos-duration="1000">PHOTOGRAPHER</h1>
    <p class="main-text" data-aos="fade-right" data-aos-duration="1000">
      Welcome to my world where every photograph is an invitation to look deeper,
      feel more and truly see the beauty around you.
    </p>

  </div>
  <a class="scroll-to-preview" (click)="scrollToPreview()">↓</a>
</div>

</div>


