.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 110px 10% 30px 10%;

  .context {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .image-container {
      overflow: hidden;
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      a{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 70%;
        img {
        border-radius: 4px;
        width: 100%;
        transition: transform 0.5s ease, filter 0.5s ease;
        filter: brightness(50%);
          &:hover {
            transform: scale(1.05);
            filter: brightness(100%);
      }
      }
      }

      .overlay-text {
        font-family: 'Josefin Sans', sans-serif;
        font-weight: 700;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #FFF;
        font-size: 24px; // Размер текста по центру картинки
        text-align: center;
        opacity: 1;
        transition: opacity 0.5s ease;
      }


    }
  }
}
@media (max-width: 768px) {
  .container {
    padding: 92px 10% 30px 10%;
    flex-direction: column;
    gap: 10px;
    .context{
      .image-container{
        img{
          width:100%;
        }
      }
    }
  }
}

