<div class="container">
  <div class="context">
    <div class="image-container">
      <a [routerLink]="['/street-photography']">
      <img src="https://i.imgur.com/6v8AV7d.jpg" alt="Street Photography" class="preview-image">
        </a>
      <div class="overlay-text">Street Photography</div>
    </div>
  </div>
  <div class="context">
    <div class="image-container">
      <a [routerLink]="['/people']">
      <img src="https://i.imgur.com/NLGpRO1.jpg" alt="People" class="preview-image">
        </a>
      <div class="overlay-text">People</div>

    </div>
  </div>
</div>
